.container {
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
}

@media (max-width: 1750px) {
  .container {
    flex-direction: column-reverse;
  }
}
