.container {
  display: flex;
  gap: 10px;
  width: fit-content;
  position: relative;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.container > h2 {
  position: absolute;
  margin: -10px 0 0;
  padding: 0;
  z-index: 1;
  width: 100%;
  border: 0;
}

.item {
  padding-top: 20px;
}
